img {
    width: 150px;
}
html {
    background-color:violet;
}
h1 {
    font-family: 'pacifico';
}
ol {
    font-family: 'charmonman';
}
ol { 
    font-size: 21px; 
}
ul {
    font-size: 30px;
}
ul {
    font-family: 'rancho';
}

